<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>Your Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description"/>
        <img
            alt="Logo"
            src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
            style="width: 0px; height: 0px; display: none"
        />
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/FrameTwo.css}"/>
        <link rel="stylesheet" th:href="@{css/bootstrap-5.3.3-dist/css/bootstrap.css}" />
    </head>

    <body>
    <!-- main content section -->
    <div class="columnfree_user_icon-one">
        <div class="columnfreeuseri">
        <!-- header section -->
        <header>
            <div class="header__top-row">
                <div class="flex-col-center-center header__logo-column">
                    <p class="header__logo ui text size-text3x1">Logo</p>
                </div>

                <div class="header__user-row logout_btn">
                    <img src="public/images/user_ico.png" alt="User Icon" class="header__user-icon"/>
                    <form th:action="@{/logout}" method="post">
                        <button style="font-family: Comic Neue;" class="ui text size-textlg" type="submit">Log in/Log out</button>
                    </form>
                </div>
            </div>

            <div class="header__nav-row">
                <ul class="header__nav-menu">
                    <li>
                        <a th:href="@{/FrameOne}" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="header__menu-item ui text size-textxl">Menu</p>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/cart}" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Your cart</p>
                        </a>
                    </li>

                    <li class=""> 
                        <a th:href="@{/profile}" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="columnview">
            <p class="frame-one__our-menu ui text size-text4x1">Your cart</p>
        </div> 

        
        <!-- cart summary section -->
        <div class="stackview">
            <!-- product list section -->
             <div class="columnview-1">
                <!-- product item section -->
                <div class="section">
                    <!-- delivery options section -->
                    <div class="section__column--left">
                        <div class="section__column--right">
                            <div>
                                <div class="section__image-row">

                                    <!-- блок для отображения контента -->
                                    <div class="row_for_info" th:each="product : ${cart}">
                                        <img th:src="'public/images/' + ${product.product.image}" alt="Ice Cream Image" class="section__image" />
                                        <div class="section__details">
                                            <div class="section__details-row">
                                                <div class="section__details-column">
                                                    <p class="section__name ui text size-text3x1" th:text="${product.product.name}"></p>
                                                    <p class="section__description ui text size-textlg" th:text="${product.product.description}"></p>
                                                </div>
                                                <div class="section__price-row">
                                                    <div class="section__quantity-row">
                                                        <div class="section__quantity-stack">
                                                            <form th:action="@{/dellOne/{productID}(productID=${product.id})}">
                                                                <button class="section__quantity-view--decrement" data-action="decrement">
                                                                    <p class="section__quantity-symbol--decrement ui text size-text3x1">-</p>
                                                                </button>
                                                            </form>
                                                        </div>

                                                        <p class="section__quantity-number ui text size-textlg" th:text="${product.numberOfProducts}" data-quantity="number">1</p>
                                                        <div class="section__quantity-stack--increment" data-action="increment">
                                                            <form th:action="@{/addOne/{productID}(productID=${product.id})}">
                                                                <button class="section__quantity-view--increment"  >
                                                                    <p class="section__quantity-symbol--increment ui text size-text3x1">+</p>
                                                                </button>
                                                            </form>

                                                        </div>
                                                    </div>
                                                    <p class="section__description ui text size-text2x1 margin-bottom" th:text="${product.total} + 'Kč'" th:data-price="${product.product.price}"></p>
                                                    <form th:action="@{/delete/{productId}(productId=${product.id})}" method="post">
                                                        <button type="submit" class="btn btn-outline-secondary">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- блок для отображения контента -->
                                </div>
                            </div>
                            <div>  
                            <div class="section__delivery-row">
                                <div class="section__delivery-column">
                                    <h1 class="ui heading size-headings">Delivery method</h1>
                                    <div class="section__delivery-options">
                                        <div class="section__delivery-option-row--home">
                                            <p class="section__delivery-method--pickup ui text size-text2x1">
                                                Home delivery via partners
                                            </p>
                                            <div class="section__delivery-line--home"></div>
                                            <p class="section__delivery-method--pickup ui text size-text2x1">Pick up from the point</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- order summary section -->
                    <div class="section__info-column">
                        <div class="section__info-column-inner">
                            <div class="section__info-column-inner--address">
                                <h2 class="section__address-title ui heading size-headingxs">Select delivery address</h2>
                                <div class="section__products-row">
                                    <h3 class="section__products-quantity ui heading size-headingxs" th:text="'Products: ' + ${fullAmount} + 'pc'"></h3>
                                </div>
                                <div class="section__total-row">
                                    <h4 class="ui heading size-headinglg">Total</h4>
                                    <h5 class="ui heading size-headingmd" th:text="${fullTotal} + 'Kč'"></h5>
                                </div>
                                <a th:href="@{/addToHistory}" class="section__order-stack">
                                    <div class="section__order-view"></div>
                                    <h6 class="section__order-text ui heading size-headinglg">Order</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <footer class="panel-footer" >
                <div class="container">
                    <div class="row">
                        <section id="hours" class="col-sm-4">
                            <span>Hours:</span><br>
                            Daily from 8:00 to 20:00<br><br>
                            <span>Phone:</span><br>
                            987-654-321
                        </section>

                        <section id="address" class="col-sm-4">
                            <span>Address:</span><br>
                            500 Terry Francine St.<br>
                            San Francisco,<br>
                            CA 94158<br>
                        </section>

                        <section id="testimonials" class="col-sm-4">
                            <p id="social">Social's</p>

                            <a href="https://www.facebook.com/wix" id="social_links">
                                <img src="public/images/facebook.png" alt="instagram" id="foot_img_inst">
                                <div href="" id="foot_text"><b>FACEBOOK &nbsp &nbsp</b></div>
                            </a>

                            <a href="https://www.twitter.com/wix" id="social_links" class="what">
                                <img src="public/images/instagram.png" alt="instagram" id="foot_img_inst">
                                <div href="" id="foot_text"><b>TWITTER &nbsp &nbsp &nbsp </b></div>
                            </a>

                            <a href="https://www.instagram.com/wix" id="social_links">
                                <img src="public/images/twit.png" alt="instagram" id="foot_img_inst">
                                <div href="" id="foot_text"><b>INSTAGRAM</b></div>
                            </a>

                        </section>
                    </div>
                    <hr class="visible-xs">
                    <div class="text-center">&copy; 2035 by Gelato. Powered and secured by Wix</div>
                </div>
            </footer>
    </div>
</div>
</div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cartContainer = document.querySelector('.stackview');

            cartContainer.addEventListener('click', function (event) {

                const target = event.target.closest('[data-action]');
                if (!target) return;


                const quantityElement = target.closest('.section__quantity-row').querySelector('[data-quantity="number"]');
                const priceElement = target.closest('.section__details-row').querySelector('[data-price]');
                const totalPriceElement = target.closest('.section__details-row').querySelector('.section__description.ui.text.size-text2x1');

                let quantity = parseInt(quantityElement.innerText);
                const pricePerItem = parseInt(priceElement.dataset.price);


                if (target.dataset.action === "increment") {
                    quantity++;
                } else if (target.dataset.action === "decrement" && quantity > 1) {
                    quantity--;
                }


                quantityElement.innerText = quantity;


                totalPriceElement.innerText = (pricePerItem * quantity) + " Kč";


                updateCartTotal();
            });

            function updateCartTotal() {
                let total = 0;


                document.querySelectorAll('.section__details-row').forEach(row => {
                    const priceText = row.querySelector('.section__description.ui.text.size-text2x1').innerText;
                    total += parseInt(priceText);
                });


                const totalElement = document.querySelector('.section__total-row h5');
                if (totalElement) totalElement.innerText = total + " Kč";
            }
        });
    </script>

</body>
</html>