<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>History</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description"/>
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/FrameTwo.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/FrameThree_admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/tableFrame.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3-dist/css/bootstrap.css}" />
    </head>

    <body>
    <!-- main content section -->
    <div class="columnfree_user_icon-one">
        <div class="columnfreeuseri">
        <!-- header section -->
        <header>
            <div class="header__top-row">
                <div class="flex-col-center-center header__logo-column">
                    <p class="header__logo ui text size-text3x1">Logo</p>
                </div>

                <div class="header__user-row logout_btn">
                    <img th:src="@{/public/images/user_ico.png}" alt="User Icon" class="header__user-icon"/>
                    <form th:action="@{/logout}" method="post">
                        <button style="font-family: Comic Neue;" class="ui text size-textlg" type="submit">Log in/Log out</button>
                    </form>
                </div>
            </div>
        </header>



        <div class="columnview">
            <p class="frame-one__our-menu ui text size-text4x1">History tab</p>
        </div> 


        <div class="section__image-row">
            <form class="search__form" th:action="@{/admin/history}" method="get">
                <input type="text" name="search" class="ui text size-text2x1 search__input" placeholder="Search from history" th:value="${search}">
                <button type="submit" class="search__button"><img th:src="@{/public/images/search.png}" alt="search" class="search__button_img"/></button>
            </form>
            
        </div>
        

             <div class="columnview-1">
                <div class="section">
                    <div class="section__column--left">
                        <div class="section__column--right">
                            <div>
                                <div class="section__image-row table_align">

                                    <table class="table_style">
                                        <thead>
                                            <tr>
                                                <th class="wid">ID</th>
                                                <th class="wid">User name</th>
                                                <th class="wid">Product name</th>
                                                <th class="wid">Number of <br> products</th>
                                                <th class="wid">Date</th>
                                                <th class="wid">Total</th>
                                            </tr>
                                            </thead>
                                        </thead>
                                        <tbody>
                                            <tr th:each="row : ${history_rows}">
                                                <td class="wid" th:text="${row.id}"></td>
                                                <td class="wid" th:text="${row.user.username}"></td>
                                                <td class="wid" th:text="${row.product.name}"></td>
                                                <td class="wid" th:text="${row.numberOfProducts}"></td>
                                                <td class="wid" th:text="${row.date}"></td>
                                                <td class="wid" th:text="${row.total}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    

                                </div>
                            </div>

                        </div>
                    
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <footer class="panel-footer">
        <div class="container">
        <div class="row">
            <section id="hours" class="col-sm-4">
            <span>Hours:</span><br>
            Daily from 8:00 to 20:00<br><br>
            <span>Phone:</span><br>
            987-654-321
            </section>

            <section id="address" class="col-sm-4">
            <span>Address:</span><br>
            500 Terry Francine St.<br>
            San Francisco,<br>
            CA 94158<br>
            </section>

            <section id="testimonials" class="col-sm-4">
            <p id="social">Social's</p>

            <a href="https://www.facebook.com/wix" id="social_links">
                <img th:src="@{/public/images/facebook.png}" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>FACEBOOK &nbsp &nbsp</b></div>
            </a>

            <a href="https://www.twitter.com/wix" id="social_links" class="what">
                <img th:src="@{/public/images/instagram.png}" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>TWITTER &nbsp &nbsp &nbsp </b></div>
            </a>

            <a href="https://www.instagram.com/wix" id="social_links">
                <img th:src="@{/public/images/twit.png}" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>INSTAGRAM</b></div>
            </a>
            </section>
        </div>
        <hr class="visible-xs">
        <div class="text-center">&copy; 2035 by Gelato. Powered and secured by Wix</div>
        </div>
    </footer>

    <script src="css/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>

</body>
</html>